<template>
  <div class="hello">
   <el-row :gutter="20">
      <el-col :span="10">
        <div class="grid-content">
          <el-card>
              <div slot="header" class="clearfix">
                  <span >Formulario de Producto</span>
                </div>
              <el-form ref="form" :model="form" label-width="200px">
                  <el-form-item label="Codigo del producto">
                    <el-input type="passwd" v-model="form.codigo"></el-input>
                  </el-form-item>
                  <el-form-item label="Nombre del producto">
                    <el-input v-model="form.nombre"></el-input>
                  </el-form-item>
                  <el-form-item label="Categoría del Producto">
                    <el-select v-model="form.categoria" placeholder="Seleccione la Categoría">
                      <el-option label="Hardware" value="hardware"></el-option>
                      <el-option label="Software" value="software"></el-option>
                      <el-option label="Redes" value="redes"></el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item label="Precio">
                    <el-input v-model="form.precio"></el-input>
                  </el-form-item>
                  <el-form-item label="Descripción">
                    <el-input type="textarea" v-model="form.descripcion"></el-input>
                  </el-form-item>
                  <el-form-item>
                    <el-button type="success" @click="agregar">Agregar</el-button>
                  </el-form-item>
              </el-form>
          </el-card>      
        </div>
      </el-col>
      <el-col :span="8">
        <div class="grid-content">
          <el-card class="box-card">
            <div slot="header" class="clearfix">
              <span>Listado de Productos</span>
            </div>
            <div v-for="item in inventario" :key="item.codigo" class="text item">
              <p>
                <span>Nombre: <b>{{ item.nombre }}</b></span>
                <span>Precio: <b>{{ item.precio }}</b></span>
                <span>Categoría: <b>{{ item.categoria }}</b></span>
              </p>
            </div>
          </el-card>

        </div>
      </el-col>

      <el-col :span="6">
        <div class="grid-content">
          <el-card class="box-card">
            <div slot="header" class="clearfix">
              <span >Buscar Producto</span>
            </div>
            <div>
              <el-input placeholder="Ingrese el codigo del Producto" v-model="buscar"> </el-input>
            </div>
            <div v-show="buscar">
              <p v-if="busquedad">
                <span>El producto <b>{{ resultado.nombre }}</b> 
                  con el precio de <b>$ {{ resultado.precio }}</b>
                  Fue encontrado :).
                </span>
              </p>
              <p v-else>
                <span v-if="inventario.length === 0">Inventario vacío</span>
                <span v-else>Producto no encontrado :(</span>
              </p>
            </div>
          </el-card>
        </div>
      </el-col>

    </el-row>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data: function() {
      return {
        form: {
          codigo: '',
          nombre: '',
          categoria: '',
          descripcion: '',
          precio: '',
        },
        inventario: [],
        buscar: '',
        resultado: {}
      }
    },
    computed: {
      busqueda: function() {
        // Validamos que el la búsqueda solo se active cuando se escriba algo
        if(this.buscar) {
          // Se realizada un búsqueda en el arreglo de inventario y se retorna la posición del producto si lo encuentra
          let index = this.inventario.map( function(i) {
            return i.codigo
          }).indexOf(this.buscar)
         
          // si el index es mayor -1 quiere decir que encontró un producto con ese codigo de que estamos buscando
          if(index > -1) {
            // Asignamos el producto al campo de resultado para visualizarlo
            this.resultado = this.inventario[index]
            // Retornamos que efectivamente encontramos un producto
            return true
          } else {
            return false
          }
        } else {       
          return false
        }
      }
    },
    methods: {
      agregar: function () {
        // Agregamos los datos ingresados al arreglo de inventario
        this.inventario.push({
          codigo: this.form.codigo,
          nombre: this.form.nombre,
          categoria: this.form.categoria,
          precio: this.form.precio,
          descripcion: this.form.descripcion,
        })
        // Limpiamos los campos  
        this.limpiar()
      },
      limpiar: function () {
        this.form.codigo = ''
        this.form.nombre = ''
        this.form.categoria = ''
        this.form.precio = ''
        this.form.descripcion = ''
      }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
