<template>
<div class="el-footer">
     <el-footer>Pie de página</el-footer> 
</div>
</template>

<style>
    .el-footer {
     
      bottom: 0;
      position: relative;
      height: 20px;
      background-color: #545c64;
      color: #fff;
      text-align: center;
}
</style>
