<template>
    <div id="login">
        
       <el-row style= "margin: 10%">
           <h1>Login</h1>
           <br/><br/>
         <el-col :span="8"><div class="grid-content"></div></el-col>
         <el-col :span="8"><div class="grid-content">
            <el-input type="password" name="password"
            placeholder="Password"
            v-model="input.username"
            :enabled="true">
            </el-input>
            <br/><br/>
            <el-input type="text" name="username"
            placeholder="Username"
            v-model="input1"
            :enabled="true">
            </el-input>
            <br/><br/>
            <el-button type="primary" round v-on:click="login()">Login</el-button>
             </div></el-col>
         <el-col :span="8"><div class="grid-content"></div></el-col>
       </el-row>
       <div v-if="showUser">
    
       </div>
    </div>
</template>

<script>
    import FromularioCliente from './FormularioCliente.vue'
    export default {
        name: 'Login',
        data: function() {
            return {
                input: {
                    username: "",
                    password: ""
                }
            }
        },
        methods: {
            login: function() {
                if(this.input.username != "" && this.input.password != "") {
                    if(this.input.username == this.$parent.mockAccount.username && this.input.password == this.$parent.mockAccount.password) {
                        this.$emit("authenticated", true);
                        this.$router.replace({ name: "secure" });
                    } else {
                        console.log("The username and / or password is incorrect");
                    }
                } else {
                    console.log("A username and password must be present");
                }
            }
        }
    }
</script>
