<template>
<div id="wrapper">
      <div class="column">
       <el-row>
         <el-col :span="8"><div class="grid-content "></div>
         <!--Inicia columna 1-->

         <!--Termina columna 1-->
         </el-col>
         
         <el-col :span="8"><div class="grid-content2 ">Login</div>
           <!--Columna central-->
              <br>
              <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="120px" class="demo-ruleForm">
               
                <el-form-item label="User" prop="user">
                  <el-input type="user" v-model="ruleForm2.user" autocomplete="off"></el-input>
                </el-form-item>
               
                <el-form-item label="Password" prop="pass">
                  <el-input type="password" v-model="ruleForm2.pass" autocomplete="off"></el-input>
                </el-form-item>

                <el-form-item>
                  <el-button type="primary" @click="submitForm('ruleForm2'), login()">Submit</el-button>
                  <el-button @click="resetForm('ruleForm2')">Reset</el-button>
                </el-form-item>
                <br>
         <div v-if="abrir">
           Now you see me
         </div>
         <div v-else>
           Now you don't
         </div>
              </el-form>

           <!--Termina columna central-->
           </el-col>
         <el-col :span="8"><div class="grid-content "></div></el-col>
       </el-row>
    </div>
  </div> 
</template>

<script>
  export default {
    data() {
      {
      abrir: false
      }
      var validateUser = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Please input the user'));
        } else {
          callback();
        }
      };

      var validatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Please input the password'));
        } else {
          callback();
        }
      };

      return {
        ruleForm2: {
          user: '',
          pass: '',
          

        },
        rules2: {
          user: [
            { validator: validateUser, trigger: 'blur' }
          ],
          pass: [
            { validator: validatePass, trigger: 'blur' }
          ]
        }
      };
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            alert('submit!');
            this.abrir = !this.abrir;
            console.log('submit!!');
          } else {
            alert('no submit!');
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
      login: function() {
      if(this.ruleForm2.user != "" && this.ruleForm2.pass != "") {
          if(this.ruleForm2.user == "admin" && this.ruleForm2.pass == "admin") {
             this.abrir = !this.abrir;
          } else {
              console.log("The username and / or password is incorrect");
          }
      } else {
          console.log("A username and password must be present");
      }
  }
    }
  }
</script>

<style>
  .grid-content2 {
    border-radius: 5px;
    min-height: 36px;
    background: #d3dce6;
    margin-top: 20%;
    }

  
</style>
