<template>
  <div class="nav">

<!--<div class="line"></div>-->
<el-menu
  :default-active="activeIndex2"
  class="el-menu-demo"
  mode="horizontal"
  @select="handleSelect"
  background-color="#545c64"
  text-color="#fff"
  active-text-color="#ffd04b">
  <el-menu-item index="1">Dashboard</el-menu-item>
  <el-menu-item index="2" enabled>Option 1</el-menu-item>
  <el-menu-item index="3" disabled>Option 2</el-menu-item>
  
  <el-menu-item style="float:right;">
  <el-input
  placeholder="Password"
  v-model="input2"
  :disabled="true">
  </el-input>
  </el-menu-item>

  <el-menu-item style="float:right;">
  <el-input
  placeholder="User"
  v-model="input1"
  :disabled="true">
  </el-input>
  </el-menu-item>

  <el-menu-item style="float:right;">
      <el-button type="info" round>Login</el-button>
      </el-menu-item>


</el-menu>
</div>  
</template>


