<template>
<div class="nav">
    <el-row>

    <el-col :span="24">
      <div class="grid-content bg-purple-dark">
        <el-col :span="4">
         <!-- <img src="/assets/logo.png" class="navbar__logo">-->

        </el-col>
        </div>
      </el-col>
    </el-row> 
</div>

</template>

<style>
  .el-row {
    margin-bottom: 20px;
      margin-bottom: 0; 
      
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }

    .navbar__logo {
        display: block;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
    }
</style>