<template>
    <div class="test">
    <div v-if="showBase">
      <base/>
    </div>
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
    <button v-on:click="base">base</button>
  
    </div>
</template>

<script>
import Base from './Base.vue'

export default {
  name: 'test',
  props: {
    msg: String,
  },
  data: function() {
      return {
    message: 'Hello Vue!',
    showBase: false,
    }
  },
    methods: {
    reverseMessage: function () {
      this.message = this.message.split('').reverse().join('')
    },
    base: function(){
        this.showBase = true
    }

  },
    components: {
    'base': Base
  }
    
}
</script>  