
<template>
  <div id="app">

     <navup/>
     <login/>
 
  </div>
</template>


<script>
import HelloWorld from './components/HelloWorld.vue'
import navbar from './components/navbar.vue'
import sidebar from './components/sidebar.vue'
import footbar from './components/footbar.vue'
import Base from './components/Base.vue'
import navup from './components/navup.vue'
import columnsbody from './components/columnsbody.vue'
import login from './components/login.vue'
import tests from './components/tests.vue'

export default {
  name: 'app',
  components: {
    HelloWorld,
    navbar,
    sidebar,
    footbar,
    Base,
    navup,
    columnsbody,
    tests,
    login
  }
}
</script>


<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin:0%;
  margin-bottom: 0; 
  }
</style>
